/*
 * Copyright (c) 2024 Robert Middleton
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/g0/stm32g0b1Xe.dtsi>
#include <st/g0/stm32g0b1k(b-c-e)tx-pinctrl.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/pinctrl/stm32-pinctrl.h>
#include <zephyr/dt-bindings/pinctrl/stm32-pinctrl-common.h>

/* CPU: STM32G0B1KE
 * FLASH: 512k
 * SRAM: 128(parity-protected)/144(not parity-protected)
 */

/ {
	model = "Snowball Creek LCC SMTC-8";
	compatible = "st,stm32g0b1ke-smtc8";

	chosen {
		zephyr,console = &usart2;
		zephyr,shell-uart = &usart2;
		zephyr,uart-mcumgr = &usart2;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,canbus = &fdcan2;
	};

	aliases {
		greenled = &green_led;
		blueled = &blue_led;
		goldled = &gold_led;
		blueswitch = &blue_switch;
		gpioreset = &gpio_exp_reset;
	};

	leds: leds {
		compatible = "gpio-leds";
		green_led: led_g {
			gpios = <&gpioc 6 GPIO_ACTIVE_HIGH>;
			label = "Green LED";
		};
		blue_led: led_b {
			gpios = <&gpioa 4 GPIO_ACTIVE_HIGH>;
			label = "Blue LED";
		};
		gold_led: led_gl {
			gpios = <&gpioa 1 GPIO_ACTIVE_HIGH>;
			label = "Gold LED";
		};

		gpio_exp_reset: foo {
			gpios = <&gpioa 8 GPIO_ACTIVE_HIGH>;
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		blue_switch: button_blue {
			label = "blue_switch";
			gpios = <&gpioa 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		};
		gold_switch: button_gold {
			label = "gold_switch";
			gpios = <&gpioa 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
		};
		volts: volts_0 {
			label = "volts";
			gpios = <&gpioa 0 (GPIO_ACTIVE_LOW)>;
		};
	};
};

/*
&clk_lsi {
	status = "okay";
};

&clk_hsi {
	status = "okay";
};

&clk_hsi48 {
	status = "okay";
	crs-usb-sof;
};
*/

&clk_hse {
	status = "okay";
	hse-bypass;
	clock-frequency = <DT_FREQ_M(8)>;
};

&pll {
	div-m = <1>;
	mul-n = <16>;
	div-p = <2>;
	div-q = <2>;
	div-r = <4>;
	clocks = <&clk_hse>;
	status = "okay";
};


&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(32)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <1>;
};


/*
zephyr_udc0: &usb {
	pinctrl-0 = <&usb_dm_pa11 &usb_dp_pa12>;
	pinctrl-names = "default";
	status = "okay";
};
*/

/*
&usart1 {
	pinctrl-0 = <&usart1_tx_pc4 &usart1_rx_pc5>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "disabled";
};
*/


/*
&rtc {
	clocks = <&rcc STM32_CLOCK_BUS_APB1 0x00000400>,
		 <&rcc STM32_SRC_LSI RTC_SEL(2)>;
	status = "okay";
};

&iwdg {
	status = "okay";
};
*/

&spi1 {
	pinctrl-0 = <&spi1_sck_pb3
		     &spi1_miso_pb4 &spi1_mosi_pb5>;
	pinctrl-names = "default";
	status = "okay";

	cs-gpios = <&gpiob 7 GPIO_ACTIVE_LOW>;

	gpio_expander: mcp23s17@0 {
		compatible = "microchip,mcp23s17";
		spi-max-frequency = <1000000>;
		reg = <0x0>;
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <16>;
		reset-gpios = <&gpioa 8 GPIO_ACTIVE_LOW>;
	};
};

&usart2 {
	pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

/ {
	tortoise0: tort0 {
		compatible = "tortoise-output";
		gpios = <&gpio_expander 0 GPIO_ACTIVE_HIGH>,
		        <&gpio_expander 1 GPIO_ACTIVE_HIGH>;
		status = "okay";
        };
	tortoise1: tort1 {
		compatible = "tortoise-output";
		gpios = <&gpio_expander 2 GPIO_ACTIVE_HIGH>,
		        <&gpio_expander 3 GPIO_ACTIVE_HIGH>;
		status = "okay";
        };
	tortoise2: tort2 {
		compatible = "tortoise-output";
		gpios = <&gpio_expander 4 GPIO_ACTIVE_HIGH>,
		        <&gpio_expander 5 GPIO_ACTIVE_HIGH>;
		status = "okay";
        };
	tortoise3: tort3 {
		compatible = "tortoise-output";
		gpios = <&gpio_expander 6 GPIO_ACTIVE_HIGH>,
		        <&gpio_expander 7 GPIO_ACTIVE_HIGH>;
		status = "okay";
        };
	tortoise4: tort4 {
		compatible = "tortoise-output";
		gpios = <&gpio_expander 14 GPIO_ACTIVE_HIGH>,
		        <&gpio_expander 15 GPIO_ACTIVE_HIGH>;
		status = "okay";
        };
	tortoise5: tort5 {
		compatible = "tortoise-output";
		gpios = <&gpio_expander 12 GPIO_ACTIVE_HIGH>,
		        <&gpio_expander 13 GPIO_ACTIVE_HIGH>;
		status = "okay";
        };
	tortoise6: tort6 {
		compatible = "tortoise-output";
		gpios = <&gpio_expander 10 GPIO_ACTIVE_HIGH>,
		        <&gpio_expander 11 GPIO_ACTIVE_HIGH>;
		status = "okay";
        };
	tortoise7: tort7 {
		compatible = "tortoise-output";
		gpios = <&gpio_expander 8 GPIO_ACTIVE_HIGH>,
		        <&gpio_expander 9 GPIO_ACTIVE_HIGH>;
		status = "okay";
        };
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "bootloader";
			reg = <0x00000000 DT_SIZE_K(32)>;
			read-only;
		};
		slot0_partition: partition@8000 {
			label = "image-0";
			reg = <0x00008000 DT_SIZE_K(128)>;
		};
		slot1_partition: partition@28000 {
			label = "image-1";
			reg = <0x00028000 DT_SIZE_K(128)>;
		};

		/*
		 * 2k reserved for app storage partition.
		 * This is used for configuration data.
		 */
		config_partition: partition@48000 {
			label = "config";
			reg = <0x00048000 DT_SIZE_K(2)>;
		};
		/*
		 * 2k for data that needs to be saved on shutdown.
		 * This is used for the current tortoise position.
		 */
		location_partition: partition@48800 {
			label = "location-partition";
			reg = <0x00048800 DT_SIZE_K(2)>;
		};
		/*
		 * 2k for LCC ID data
		 */
		lcc_partition: partition@49000 {
			label = "lcc-partition";
			reg = <0x00049000 DT_SIZE_K(2)>;
		};

		global_partition: partition@49800 {
			label = "global-partition";
			reg = <0x00049800 DT_SIZE_K(2)>;
		};
	};
};

&fdcan2 {
	clocks = <&rcc STM32_CLOCK_BUS_APB1 0x00001000>,
		 <&rcc STM32_SRC_PLL_Q FDCAN_SEL(1)>;
	pinctrl-0 = <&fdcan2_rx_pb0 &fdcan2_tx_pb1>;
	pinctrl-names = "default";
	status = "okay";
};
